<sebm-google-map
  [latitude]="initLat"
  [longitude]="initLon"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="true"
  (mapClick)="mapClicked($event)">

  <sebm-google-map-marker
    *ngFor="let fclt of washFcltList; let i = index"
    (markerClick)="clickedMarker(fclt.name, i)"
    [latitude]="fclt.facilityAddr.coordinate.lat"
    [longitude]="fclt.facilityAddr.coordinate.lon"
    [label]="fclt.name"
    [markerDraggable]="false">

    <sebm-google-map-info-window>
      <strong>{{fclt.description}}</strong>
    </sebm-google-map-info-window>

  </sebm-google-map-marker>

  <sebm-google-map-circle [latitude]="initLat + 0.2" [longitude]="initLon"
                          [radius]="5000"
                          [fillColor]="'red'"
                          [circleDraggable]="true"
                          [editable]="true">
  </sebm-google-map-circle>

</sebm-google-map>
