<div class="ui-g-12 ui-md-4">
  <p-calendar [(ngModel)]="selectedDate" [locale]="ru" [inline]="true" tabindex="0" [disabledDates]="oddDates" [disabledDays]="oddDays"
              [minDate]="minDate" [maxDate]="maxDate" dateFormat="dd/mm/yy"></p-calendar>
 <!--
  <h3>Время работы</h3>
  <p-calendar [(ngModel)]="selectedDate" [showTime]="true"  hourFormat="24" showSeconds="false"></p-calendar> {{selectedDate}}
  <p-calendar [(ngModel)]="selectedDate" [showTime]="true"  hourFormat="24" showSeconds="false"></p-calendar> {{selectedDate}}
  -->
</div>
