<div *ngIf="washFacility">
  <h3>
    Автомойка
  </h3>
  <div><label>Наименование: </label>{{washFacility.name | uppercase}}
  </div>
  <div><label>Описание: </label>{{washFacility.description }}
  </div>
  <div><label>Адрес: </label>
    <div *ngIf="washFacility.facilityAddr">
      Город: {{washFacility.facilityAddr.city.name}}, {{washFacility.facilityAddr.city.region}}
      Улица: {{washFacility.facilityAddr.street}}, д.
      {{washFacility.facilityAddr.building}}{{washFacility.facilityAddr.letter}}
    </div>
    <washbox-list [washBoxList]="washFacility.washBoxes"></washbox-list>
  </div>
</div>
