<div *ngIf="washFacility">
  <p-fieldset legend="Подробности об автомойке" [toggleable]="true">
    <div><label>Наименование: </label>{{washFacility.name | uppercase}}
    </div>
    <div><label>Описание: </label>{{washFacility.description }}
    </div>
    <p-fieldset legend="Адрес и контакты" [toggleable]="true">
      <div *ngIf="washFacility.facilityAddr">
        Город: {{washFacility.facilityAddr.city.name}}, {{washFacility.facilityAddr.city.region}}
        Улица: {{washFacility.facilityAddr.street}}, д.
        {{washFacility.facilityAddr.building}}{{washFacility.facilityAddr.letter}}
      </div>
      <div *ngIf="washFacility.phones">
        <h4>Телефоны: </h4>
        <ul class="washFacility.phones">
          <li *ngFor="let phone of washFacility.phones">
            {{phone.phoneNumber}}
          </li>
        </ul>
      </div>
    </p-fieldset>
    <p-fieldset legend="Расписание работы" [toggleable]="true">
      <app-facility-calendar [washFacility]="washFacility"></app-facility-calendar>
      <app-facility-work-week [washFacility]="washFacility"></app-facility-work-week>
    </p-fieldset>
    <p-fieldset legend="Моечные боксы" [toggleable]="true">
      <washbox-list [washBoxList]="washFacility.washBoxes"></washbox-list>
    </p-fieldset>
  </p-fieldset>
</div>
