<div class="row">
  <div class="grid grid-pad">
    <div *ngFor="let facility of washFacilities" class="col-1-4">
      <div class="module facility" (click)="onSelect(facility)">
        <h4>{{facility.name}}</h4>
      </div>
    </div>
  </div>
</div>
<!--
<div class="row">
  <div *ngIf="selectedFclt">
    <washbox-list [washBoxList]="selectedFclt.washBoxes"></washbox-list>
  </div>
</div>
-->
<!-- карта моек-->
<div class="row-fluid">
  <div *ngIf="selectedFclt">
  <app-facility-map [washFcltList] = "washFacilities" [initLon] = "selectedFclt.facilityAddr.coordinate.lon"
                    [initLat] = "selectedFclt.facilityAddr.coordinate.lat" ></app-facility-map>
  </div>
</div>
