<div class="row">
  <app-city-dropdown (selectionEvent)="onCitySelect($event)"></app-city-dropdown>
</div>
<div *ngIf="selectedCity">
  <div class="row">
    <div *ngIf="washFacilityList">
      <p-carousel id="fcltCarousel" headerText="Наши Мойки" [value]="washFacilityList" circular="true">
        <ng-template let-facility pTemplate="item">
          <div class="module facility" (click)="onSelect(facility)">
            <h4> {{facility.name}} </h4>
          </div>
        </ng-template>
      </p-carousel>
    </div>

    <!-- Описание-->
    <div class="row">
      <div *ngIf="selectedFclt">
        <facility-detail [washFacility]="selectedFclt"></facility-detail>
      </div>
    </div>
    <!-- карта моек-->
    <div class="row">
      <div *ngIf="!selectedFclt">
        <app-facility-map [washFcltList]="washFacilityList"></app-facility-map>
      </div>
      <div *ngIf="selectedFclt">
        <app-facility-map [washFcltList]="washFacilityList" [initLon]="selectedFclt.facilityAddr.coordinate.lon"
                          [initLat]="selectedFclt.facilityAddr.coordinate.lat"></app-facility-map>
      </div>
    </div>
  </div>
</div>
