<div class="moika-header">
<nav class="navbar navbar-light">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-left">
        <button type="button" pButton icon="fa-list fa-3x" style="float:right; width:4em; height:4em" (click)="menuClick()"></button>
      </div>
      <div class="navbar-left">
        <button type="button" pButton style="float:right" label="Мойка" icon="fa fa-home" style="font-size:x-large"
                (click)="homeClick()"></button>
        <button type="button" pButton style="float:right" label="Владельцам авто" style="font-size:x-large"
                (click)="autoOwnerClick()"></button>
        <button type="button" pButton style="float:right" label="Владельцам автомоек" style="font-size:x-large"
                (click)="fcltOwnerClick()"></button>
      </div>
      <button type="button" pButton icon="fa-sign-in" style="float:right" label="Login"
              (click)="loginDialogShow()"></button>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<app-login-dialog [displayLoginDialog]="showLoginDialog"></app-login-dialog>
</div>

