<div class = "row">
<div class = "main-app" [ngSwitch]="interfaceMode">
  <app-admin-navbar *ngSwitchCase="0"></app-admin-navbar>
  <app-user-navbar *ngSwitchCase="1"></app-user-navbar>
  <app-customer-navbar *ngSwitchCase="2"></app-customer-navbar>
</div>
</div>
  <h2>{{title}}</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <app-app-about></app-app-about>
    </div>
    <div class="col-md-8">
      <app-main-outlet></app-main-outlet>
    </div>
  </div>
</div>
<div class = "row">
  <app-footer>Loading...</app-footer>
</div>


