<nav class="navbar navbar-light bg-faded">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <p-tieredMenu #menu [model]="items" [popup]="true"></p-tieredMenu>
        <button type="button" pButton icon="fa-list" style="float:right"  (click)="menu.toggle($event)"></button>
      </div>
      <div class="navbar-left">
        <button type="button" pButton icon="fa-commenting-o" style="float:right" label="О сервисе" (click)="aboutClick()"></button>
      </div>
      <form class="navbar-form-serch navbar-left">
        <div class="form-group">
          <button type="submit" class="btn btn-default" >Искать</button>
          <input type="text" class="form-control" placeholder="Search">
        </div>
      </form>
      <button type="button" pButton icon="fa-sign-in" style="float:right" label="Login" (click)="showLoginDialog=true"></button>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<app-login-dialog [displayLoginDialog]="showLoginDialog"></app-login-dialog>
