<nav class="navbar navbar-light bg-faded">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <p-tieredMenu #menu [model]="items" [popup]="true"></p-tieredMenu>
        <button type="button" pButton icon="fa-list" style="float:right" (click)="menu.toggle($event)"></button>
      </div>
      <div class="navbar-left">
        <button type="button" pButton icon="fa-commenting-o" style="float:right" label="О сервисе"
                (click)="aboutClick()"></button>
      </div>
      <div class="form-group" style="float:left">
          <input type="text" pInputText placeholder="Search"/>
          <button type="submit" pButton style="float:right" icon="fa-search"></button>
      </div>
      <button type="button" pButton icon="fa-sign-in" style="float:right" label="Login"
              (click)="showLoginDialog=true"></button>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<app-login-dialog [displayLoginDialog]="showLoginDialog"></app-login-dialog>
