<div class="ui-g">
  <div class="ui-md-1 navbar-brand">
    <a href="#">
      <img alt="CarWash" src="../../../../assets/images/car-wash.png">
    </a>
  </div>
  <div class="ui-md-7"> <app-main-menu></app-main-menu></div>
  <div class="ui-md-2">
    <a href="#">личный кабинет</a>
  </div>
  <div class="ui-md-1">
    <input id="in" type="text" size="10" pInputText [(ngModel)]="text">
  </div>
  <div class="ui-md-1">
    <button pButton type="button" (click)="search()" icon="fa-search" label="Поиск"></button>
  </div>
</div>
