/* Главный файл Css */

/* Все включения надо длелать здесь */
@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/primeng/resources/themes/omega/theme.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
/*
background: url( assets/images/car-wash.png) no-repeat center center #3699EC;

правило для всех колонок сетки bootstrap
div[class^=col] {
}
opacity: 0.05; //прозрачность
*/
.navbar-brand{
  padding: 0px;
}
#main-area{
  border: 1px #3699EC solid;
  background: #3699EC;
  min-height:  100vw;
}





